ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #15027d;
}

.active {
  background-color: #ba1307;
}

body{
  padding-left: 40px;
  background-image: url('images/background2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
/*******Heading********/
#heading{
  color: black;
  text-align: center;
  font-size: large;
  padding-top: 45px;
}

/*******Intro(Heading)********/
#intro{
  color: black;
  padding-left: 10px;
}

/*******Intro(Description)********/

#description{
  color: black;
  padding-left: 80px;
}
/*******Location(Heading)********/
#loc{
  color: black;
  padding-left: 10px;
}
/*******Location(Description)********/
#loc-desc{
  color: black;
  padding-left: 80px;
}

/*******Contact(Heading)********/
#cont{
  color: black;
  padding-left: 10px;
}
/*******Contact(Description)********/
#cont-desc{
  color: black;
  padding-left: 80px;
}
/*********Footer******************/
footer {
  text-align: left;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  background-color: #000000;
  color: white;
  top: 0;
  width: 100%;
}

/****************************************About Us Page***************************************/
#about-heading{
  color: black;
  text-align: center;
  font-size: large;
  padding-top: 45px;
}

#img1{
  width:280px;
  height:170px;
  margin-right:15px;
  float: left;
}

#img2{
  width:280px;
  height:170px;
  margin-right:15px;
  float: right;
}

/****************************************Gallery Page***************************************/
.container1{
  display: inline-block;
}
.container2{
  display: inline-block;
}
.container3{
 display: inline-block; 
}
.container4{
 display: inline-block; 
}
#gal-heading{
  color: black;
  text-align: center;
  font-size: large;
  padding-top: 45px;
}

#gal-intro{
  color: black;
  padding-left: 10px;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/***********************Cars Info***********************/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 30px;
}
th, td {
  padding: 15px;
}

#info-heading{
  color: black;
  padding-left: 10px;
}

#tab-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 30px;
}


/********************Sig-in & Sign-up***********************/



input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.cred-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
